<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>

  <div id="content">
    Hello there, conent will be placed here.  No guarantee on that though.  Check your watch.
  </div>
</div>
